name: Build EXE

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install pyinstaller opencv-python pillow numpy

    - name: Build EXE
      run: |
        pyinstaller --onefile --windowed --add-data "haarcascade_frontalface_default.xml;." --add-data "haarcascade_eye.xml;." main.py

    - name: Upload EXE
      uses: actions/upload-artifact@v4
      with:
        name: Photoshop-EXE
        path: dist/main.exe
